* {
	line-height:1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
	list-style: none;
}

html {
	
}
#footer {
	top: 780px;
	left: 120px;
	/*width: 100%;*/
	height: 150px;
	position: absolute;
	
}

#footer #date {
	width: 900px;
	height: 30px;
	top: 0px;
	left: 10px;
	position: absolute;
	display: inline-block;
	float: left;
}

div.ecbddata-todaysdate:after { content: attr(data-todaysdate)"Wednesday, Dec. 9" ; 
	font-size: 36px;
	line-height: 42px;
	text-align: left;
	color: #04090E;	
	font-weight: 700;
}

#footer #date p {
	font-size: 36px;
	line-height: 42px;
	text-align: left;
	color: #04090E;	
	font-weight: 700;	
}
#footer #footnote {
	width: 1180px;
	height: 40px;
	top: 230px;
	left: 10px;
	position: absolute;
	display: inline-block;
	float: left;
}

#footer #footnote p {
	font-size: 38px;
	line-height: 50px;
	text-align: left;
	color: #2B78B8;
	font-weight: 500;
	font-style: italic;
}
#footer #logofooter {
	background: url(../images/logo_blue.png) top left no-repeat;
	/*margin: 616px 0 0 890px;*/
	width: 518px;
	height: 62px;
	display: block;
	top: 170px;
	left: -70px;
	position: absolute;
	display: inline-block;
	float: left;
}

#careboard  {
	position: absolute;
	left: 1320px;
	top: 110px;
	width: 550px;
	height: 900px;
	padding-right: 0px;
	padding-left: 30px;
	padding-bottom: 0px;
	text-align: left;
		
}

/*div#app {
	width: 720px;
	height: 1280px;
	background: rgba(0,0,0,1.0);
	color: rgba(255,255,255,1.0);
	font-family: "Bitstream Vera Sans",Arial,sans-serif;
	font-weight: bold;
	overflow: hidden;
}

.clear {
	clear: both;*/
}


#careboard div.header {
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 4px;

}
#careboard div.header-small {
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 3px;

}

#careboard div.header2 {
	font-size: 22px;
	font-weight: bold;
	color: #A4CEE4;
	padding-top: 5px;
}


#careboard div.header3 {
	font-size: 28px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 4px;
	background-color: #5599BC;
	border-radius: 16px 16px 0px 0px;
	line-height: 40px;
	width: 330px;
}

#careboard span.header4 {
	font-size: 22px;
	font-weight: bold;
	color: #F9FBFC;
	padding-right: 20px;
	background-color: #87B56C;

}

#careboard span.checkmark1 {
	color: #87B56C;
	font-weight: bold;
}

#careboard span.checkmark2 {
	color: #5599BC;
	font-weight: bold;
}

#careboard span.text-color-1 {
	color: #FDFDFD;
	font-weight: normal;
	letter-spacing: .5px;
	font-weight: bold;
}
#careboard span.text-color-2 {
	color: #5599BC;
	font-weight: normal;
	letter-spacing: .5px;
	font-weight: bold;
}


#careboard #name {
	font-size: 42px;
	color: #041F42;
}

#careboard #supportperson {
	position: absolute;
	top: 50px;
	font-size: 32px;
	color: #041F42;	
		
}

#careboard #dischargedate {
	color: #D1E292;
	position: absolute;
	left: -24px;
	top: 110px;
	width: 570px;
	height: 36px;
	background-color: #000000;
	padding-left: 54px;
}
div.ecbddata-dischargedate:after { content: attr(data-dischargedate)"Friday, Dec. 11" ; 
 	color: #D1E292;
	position: absolute;
	left: -24px;
	top: 110px;
	width: 574px;
	height: 36px;
	padding-left: 300px;
}

#careboard #coach {
	position: absolute;
	top: 180px;
	font-size: 32px;
	color: #F2F6FC;
	text-shadow: 2px 2px 4px hsla(0,0%,15%,.70);
}

#careboard #activity {
	position: absolute;
	top: 250px;
	font-size: 30px;
	color: #F2F6FC;
	text-shadow: 2px 2px 4px hsla(0,0%,15%,.70);
}
div.ecbddata-activities:after {
	content: attr(data-activities)"Bedrest\APractice breathing";
	position: absolute;
	white-space: pre;
	top: 290px;
	font-size: 30px;
	color: #F2F6FC;
	text-shadow: 2px 2px 4px hsla(0,0%,15%,.70);
	margin-left: 20px;
}

#careboard #diet {
	position: absolute;
	top: 390px;
	font-size: 30px;
	color: #CBE3AE;
	text-shadow: 2px 2px 4px hsla(0,0%,15%,.70);
}

div.ecbddata-dietorders:after {
	content: attr(data-dietorders)"Gluten free\APeanut allergy";
	position: absolute;
	white-space: pre;
	top: 430px;
	font-size: 30px;
	color: #CBE3AE;
	text-shadow: 2px 2px 4px hsla(0,0%,15%,.70);
	margin-left: 20px;
}

#careboard #meds {
	position: absolute;
	top: 550px;
	font-size: 30px;
	color: #D0EBFA;
	text-shadow: 2px 2px 4px hsla(0,0%,15%,.70);
}

div.ecbddata-medications:after {
	content: attr(data-medications)"Tylenol - 09:35 AM\A";
	position: absolute;
	white-space: pre;
	top: 590px;
	font-size: 30px;
	color: #D0EBFA;
	text-shadow: 2px 2px 4px hsla(0,0%,15%,.70);
	margin-left: 20px;
}

#careboard #pain {
	position: absolute;
	top: 660px;
	font-size: 30px;
	color: #D0EBFA;
	text-shadow: 2px 2px 4px hsla(0,0%,15%,.70);
}

div.ecbddata-painscore:after {
	content: attr(data-painscore)"Sleeping2 - Wong-Baker Faces";
	position: absolute;
	white-space: pre;
	top: 700px;
	font-size: 30px;
	color: #D0EBFA;
	text-shadow: 2px 2px 4px hsla(0,0%,15%,.70);
	margin-left: 20px;
}


#careboard #clinical {
	position: absolute;
	left: 0px;
	top: 800px;
	width: 540px;
	height: 130px;
	text-align: center;

}

#careboard #clinical p {
	text-align: center;
}

#careboard #clinical #icons {
	margin: 0px auto;
	text-align: center;
	display: inline-block;
}

#careboard #clinical #icons div.icon {
	width: 96px;
	height: 96px;
	float: left;
}

/*ICONS */

#careboard #clinical #icons #fallrisk {
	background: url('../images/icon_ecbd_fallrisk.png') no-repeat;
}

#careboard #clinical #icons #hearing {
	background: url('../images/icon_ecbd_hearing.png') no-repeat;
}

#careboard #clinical #icons #vision{
	background: url('../images/icon_ecbd_vision.png') no-repeat;
}
#careboard #clinical #icons #dentures {
	background: url('../images/icon_ecbd_dentures.png') no-repeat;
}
#careboard #clinical #icons #braden {
	background: url('../images/icon_ecbd_braden.png') no-repeat;
}

#careboard #clinical #icons #breastfeed{
	background: url('../images/icon_breastfeeding.png') no-repeat;
}

#careboard #decline-text {
	font-size: 42px;
	position: absolute;
	left: 54px;
	top: 380px;
	width: 620px;
	height: 360px;
	letter-spacing: .5px;

}
#careboard #decline-text p {
	font-weight: bold;
	color: #F0F4F5;
	text-align: center;
	line-height: 70px;
}
#careboard #revision {
	position: absolute;
	top: 1250px;
	left: 32px;
	font-size: 18px;
	color: #ffffff;
	z-index: 9;
}
