* {
	line-height:1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
	list-style: none;
}
body	{
	width: 860px;
	height: 230px;
	top: 0px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background: url(../images/bk_home.jpg) top left no-repeat;*/
}
html {
	
}
screen-dim	{
	width: 100%;
	height: 100%;
	top: 0px;
	margin: 0;
	padding: 0;
	position: absolute;
	display: inline-block;
	/*visibility: hidden;*/
	background: url(../images/screen-dim.png) top left no-repeat;
	z-index: 100;
	opacity: .4;
}


/*****************************************************************************/
/* Text */

/* Default text attributes white: #F0F4F5 
purple: #544c7d */
div, p, span, a {
	color: #F7F9FB;
	font-family: Arial, "Bitstream Vera Sans", sans-serif;
	font-weight: 600;
	font-size: 18px;
	font-style: normal;
	/*text-shadow: 2px 2px 4px hsla(0,0%,17%,1.00);*/
}

	
div.text-patient, p.text-patient, span.text-patient, a.text-patient {
	font-size: 26px;	
	font-weight: 700;
	color: #F9F9F9;
	letter-spacing: 1px;
}

/*****************************************************************************/
#footer-container {
	position: absolute;
	left: 0px;
	top: 490px;
	width: 860px;
	height: 230px;
}

#footer {
	top: 0px;
	left: 0px;
	width: 860px;
	height: 230px;
	position: absolute;
}

#footer #patient {
	width: 600px;
	height: 76px;
	top: 20px;
	left: 135px;
	position: absolute;
	text-align: center;
	display: inline-block;
	
}

#footer #patient p {
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #F2F4AB;
	font-weight: 700;
	text-shadow: 2px 2px 2px hsla(0,0%,0%,0.70);
}
#footer #patientroom{
	position: absolute;
	left: 155px;
	top: 50px;
	font-size: 20px;
	line-height: 24px;
	text-align: left;
    color: #F2F4AB;
	font-weight: 700;
	text-shadow: 2px 2px 2px hsla(0,0%,0%,0.70);
	
}

#footer #todaysdate{
	position: absolute;
	left: 296px;
	top: 126px;
	font-size: 20px;
	line-height: 24px;
	text-align: left;
    color: #F9F9F8;
	font-weight: 700;
	text-shadow: 2px 2px 2px hsla(0,0%,0%,0.70);
	
}

div.ecbddata-todaysdate:after { content: attr(data-dischargedate)"Monday, January 25, 2:09 PM" ; 
	position: absolute;
	left: 290px;
	top: 106px;
	font-size: 22px;
	line-height: 24px;
	text-align: left;
	color: #F9F9F8;
	font-weight: 700;
	text-shadow: 2px 2px 2px hsla(0,0%,0%,0.70);

}

#footer p {
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #F2F4AB;
	font-weight: 700;
	text-shadow: 2px 2px 2px hsla(0,0%,0%,0.70);
	padding-top: 10px;
}
	
#footer #logofooter {
	background: url(../images/logo_small.png) top left no-repeat;
	/*margin: 616px 0 0 890px;*/
	width: 236px;
	height: 34px;
	display: block;
	top: 160px;
	left: 16px;
	position: absolute;
	display: inline-block;
	float: left;
	opacity: 0.6;
}


#footer #revision {
	position: absolute;
	top: 1250px;
	left: 32px;
	font-size: 18px;
	color: #ffffff;
	z-index: 9;
}
